<!DOCTYPE html>
<html>
	<head>
   		<title>Admin</title>
   		<meta charset="utf-8" />
 	</head>
  	<body>
    		<h1>Admin Page</h1>
		{% with messages = get_flashed_messages() %}
   			{% if messages %}
      				{% for message in messages %}
         				<h2>{{ message }}</h2>
      				{% endfor %}
   			{% endif %}
		{% endwith %}
		<ul>
		{% for user in users %}
			<li>
				<a href="/admin/users/{{ user.username }}">
					{{ user.full_name }} ({{ user.username }})
				</a> | <a href="/admin/delete/{{ user.username }}">Delete User?</a>
			</li>
		{% endfor %}
		</ul>

		<br />
		<a href="/admin/create-user">Create a new user!</a>
  	</body>
</html>
