<!DOCTYPE html>
<html>
  <head>
    <title>Image Gallery | Main Menu</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Main Menu</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
       {% for message in messages %}
         <h2>{{ message }}</h2>
       {% endfor %}
     {% endif %}
   {% endwith %}
    <ol>
      <li><a href="/login">Login</a></li>
      <li><a href="/upload-image">Upload an Image</a></li>
      <li><a href="/view-gallery">View an Image</a></li>
      <li><a href="/admin/users">Go to the Admin page</a></li>
  </body>
</html>
