<!DOCTYPE html>
<html>
  <head>
    <title>User | Upload Image</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Upload an Image</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h2>{{ message }}</h2>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <a href="/">Go back</a><br />
    <form action="/upload-image/" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" multiple accept="image/*" />
      <input type="submit" value="Upload!" />
    </form>
  </body>
</html>
